<h3>Profiladatok kezelése</h3>
<hr>

<div class="col-sm-6 offset-sm-3">

<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" value="{{user.email}}" [(ngModel)]="user.email">
  <label for="floatingInput">Email-cím módosítása</label>
</div>
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingName" placeholder="Name" value="{{user.name}}"[(ngModel)]="user.name">
  <label for="floatingName">Név módosítása</label>
</div>
<button class="btn btn-warning" (click)="modProfile()">Módosítás</button>
<hr>
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="createdAt" placeholder="Password" disabled value="{{user.createdAt | date}}">
  <label for="floatingPassword">Létrehozás dátuma:</label>
</div>

<div class="form-floating mb-3">
  <input type="text" class="form-control" id="createdAt" placeholder="Password" disabled value="{{user.latestLogin | date}}">
  <label for="floatingPassword">Utolsó bejelentkezés dátuma:</label>
</div>
</div>


