<h3>Szállások</h3>

<hr>
<div class="container">

    <div class="card" style="width: 21%;" *ngFor="let accomm of pagedAccomm">
        <img src="http://localhost:3000/accommodation_images" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{accomm.name}}</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Ugrás az oldalra</a>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="bi bi-geo-alt"></i> {{accomm.address}}</li>
          <li class="list-group-item" style="font-weight: bolder; font-size: larger;"><i class="bi bi-cash-coin"></i> {{accomm.basePrice}} {{currency}}</li>
          <li class="list-group-item"><i class="bi bi-people-fill"></i>: Max {{accomm.capacity}}</li>
        </ul>
      </div>

</div>
<hr>
<nav aria-label="Page navigation example" *ngIf="totalPages > 1">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link"  aria-label="Previous" (click)="setPage(currentPage-1)" [class.disabled]="currentPage == 1">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

      <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index">
        <a class="page-link" (click)="setPage(i + 1)"  [class.active]="currentPage == i + 1">{{i + 1}}</a>
      </li>

    <li class="page-item">
      <a class="page-link"  aria-label="Next" (click)="setPage(currentPage+1)" [class.disabled]="currentPage == totalPages">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<button class="btn btn-primary btn-sm">Szállás fölvétele</button>