.container{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card
{
    margin: 10px;
}
.kor
{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: rgb(238, 214, 0);
    text-align: center;
    color: black;
    font-size: x-large;
    position: absolute;
    top: -10px;
    right: -10px;
}