.container{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card
{
    margin: 10px;
    -webkit-box-shadow: 3px 19px 19px 2px rgba(0,0,0,0.82); 
    box-shadow: 3px 19px 19px 2px rgba(0,0,0,0.82);
    animation-name: vForgat;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    

}

table{
    width: 100%;
}

.card:hover
{
    animation-name: forgat;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    

}

.hirKep1
{
    width: 230px;
    height: 450px;
    position: absolute;
    left: 10px;
    box-shadow: 3px 4px 2px rgba(34,34,34,0.7);
    border: 1px, white, solid;

}



.hirKep2
{
    width: 230px;
    height: 450px;
    position: absolute;
    right: 10px;
    box-shadow: 3px 4px 2px rgba(34,34,34,0.7);
    border: 1px, white, solid;

}

#hirKep3
{
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: fit-content;
    border: 1px white solid;
}

.hirKep1:hover,.hirKep2:hover
{
        animation-name: freaky;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.hirdetes1{
    position: relative;
    width: 50px;
    height: 10px;
    background-color: rgb(122, 122, 122);
    border-radius: 1px;
    top: 0px;
    left: -60px;
    font-size: xx-small;
    text-align: center;
}



.kor
{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #d2afe3;
    background: linear-gradient(90deg, rgba(210, 175, 227, 1) 0%, rgba(255, 245, 219, 1) 100%);
    text-align: center;
    color: black;
    font-size: x-large;
    position: absolute;
    top: -10px;
    right: -10px;
    box-shadow: 3px -3px 2px rgba(34,34,34,0.4);
}

.iksz
{
    width: 11px;
    height: 11px;
    border-radius: 50px;
    background: #000000;
    background: linear-gradient(90deg, rgb(54, 54, 54) 0%, rgb(58, 58, 58) 100%);
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: xx-small;
    position: absolute;
    top: -5px;
    right: -5px;
    box-shadow: 3px -3px 2px rgba(34,34,34,0.4);
}

.carousel-caption
{
    font-size: larger;
    color: black;
    background: #d2afe3;
    background: linear-gradient(90deg, rgba(210, 175, 227, 1) 0%, rgba(255, 245, 219, 1) 100%);
    border-radius: 5px;
    box-shadow: 3px -3px 2px rgba(34,34,34,0.4);

}

#carouselExampleFade
{
    margin: 0 auto;
    margin-bottom: 10px;
    -webkit-box-shadow: 3px 19px 19px 2px rgba(0,0,0,0.82); 
    box-shadow: 3px 19px 19px 2px rgba(0,0,0,0.82);

}


@keyframes forgat 
{
    0%{rotate: 0deg; filter: brightness(100%);}
    100%{rotate: 2deg; filter: brightness(130%);}

}

@keyframes vForgat 
{
    0%{rotate: 2deg;filter: brightness(130%);}
    100%{rotate: 0deg;filter: brightness(100%);}

}

@keyframes freaky
{
    0%{filter: blur(0px) grayscale(0%);}
    25%{filter: blur(2px) grayscale(100%) brightness(300%);}
    50%{filter: blur(0px) grayscale(100%);}
    75%{filter: blur(2px) grayscale(100%) brightness(200%);}
    100%{filter: blur(0px) grayscale(0%);}
}

#newHotelBTN{
    height: 500%;
}

.textarea{
    min-height: 250px;
}

#formModal{
    width: 100%;
}

#HotelReszletImg{
    width: 100%;
    margin: 2%;
}