h1
{
    text-align: center;
    font-size: 60px;
    color: #3b3b3b;
    line-height: 100px;
    background: #d2afe3;
    background: linear-gradient(90deg, rgba(210, 175, 227, 1) 0%, rgba(255, 245, 219, 1) 100%);
    -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

i{
    background-image: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    color: transparent;
    background-clip: text;
    
}
p{
    background-image: linear-gradient(4deg,rgba(27, 60, 71, 1) 0%, rgba(84, 84, 110, 1) 98%, rgba(43, 43, 43, 1) 100%);
    color: transparent;
    background-clip: text;
    font-weight: bolder;
    letter-spacing: 2px;
    
}