.container{
    background-color: rgb(71,71,71);
    box-shadow: 10px 10px 8px rgba(22, 22, 22, 0.4);
    border: 1px solid rgb(71, 71, 71);
    padding: 2%;
    border-radius: 5px;
    background: radial-gradient(circle,rgba(54, 54, 54, 1) 4%, rgba(33, 27, 43, 1) 98%);
}
h1{
    background: linear-gradient(90deg, rgb(210, 176, 227) 0%, rgba(255, 245, 219, 1) 100%);
    padding: 1%;
    border-radius: 4px;
    color: #3b3b3b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0px 0px 10px 8px rgb(139, 111, 138);
}

td:hover{
    box-shadow: inset 2px 2px 10px 1px rgb(139, 111, 138);
    background-color: #504e4e;
    color: white
}

.inactive >td{
    color:silver;
    font-style: italic;
    text-decoration:wavy;
    background-color: rgb(48, 48, 48);
}
.inactive >td:hover{
    box-shadow: inset 2px 2px 10px 1px rgb(66, 53, 65);
    color: white
}

.banAktiv{
    background-color:#3a3737;
    padding: 2%;
    border-radius: 4px;
    box-shadow: 2px 2px 10px 10px rgb(27, 27, 27);
}
.nev{
    color: pink;
    font-weight: bolder;
    font-size: larger;
    background: -webkit-linear-gradient(90deg, rgb(210, 176, 227), rgba(255, 245, 219, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#banReason{
    height: 20vh;
}