#footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 3%;
    -webkit-box-shadow: 5px 5px 15px -2px #000000; 
    box-shadow: 5px 5px 15px -2px #000000;
    background: radial-gradient(circle,rgba(54, 54, 54, 1) 4%, rgba(33, 27, 43, 1) 98%);
    border-radius: 5px;
}
.ftrItem{
    width: 30%;
    letter-spacing: 2px;
}
a{
    font-size: xx-large;
}

@media screen and (max-width:1150px)
{
    #footer{
        flex-direction: column;
    }

}