<hr>
<div id="footer">
    <div class="ftrItem">
        <p>{{date}}</p>

    </div>
    <div  class="ftrItem">
        <p>Telefon:<i class="bi bi-telephone"></i> {{phone}}</p>
        <p>Cím:<i class="bi bi-geo-alt-fill"></i> {{address}}</p>
        <p><i class="bi bi-envelope-at"></i> Email-cím: {{email}}</p>
    </div> 
    <div  class="ftrItem">
        <p>{{author}}<i class="bi bi-badge-tm"></i></p>
        <a href="https://github.com/Zalan12/honfoglalasProjekt"><i class="bi bi-github"></i></a>
        <a href="https://farkas-zalan.atlassian.net/jira/software/projects/HON/boards/67"><i class="bi bi-card-checklist"></i></a>
    </div>
</div>