<hr>
<div id="footer">
    <div class="ftrItem">
        <p>{{date}}</p>

    </div>
    <div  class="ftrItem">
        <p>Telefon:<i class="bi bi-telephone"></i> {{phone}}</p>
        <p>Cím:<i class="bi bi-geo-alt-fill"></i> {{address}}</p>
        <p><i class="bi bi-envelope-at"></i> Email-cím: {{email}}</p>
    </div> 
    <div  class="ftrItem">
        <p>{{author}}<i class="bi bi-badge-tm"></i></p>
        <p><i class="bi bi-github"></i>{{repo}}</p>
        <p><i class="bi bi-card-checklist"></i> {{jira}}</p>
    </div>
</div>